.transactionHistory {
    width: 96%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid darkgrey;
    background-color: white;
}

.rowhead {
    background-color: blue;
    color: aliceblue;
}

.rows {
    background-color: darkgrey;
    font-size: 18px;
    font-weight: 500;
}